<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!--Use bootstrap to make the application look nice-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container" style="width:50%;margin-left: 10px">
            <form action="/work" method="POST">
                <input type="hidden" name="_method" value="{{.method}}" />
                <input type="hidden" name="id" value="{{.work.Id}}" />
                <div class="form-group">
                    <label for="inputCompany">公司</label>
                    <input type="text" class="form-control" id="inputCompany" name="company" placeholder="公司名稱" value={{.work.Company}}>
                    </div>
                    <div class="form-group">
                    <label for="inputPeriod">期間</label>
                    <input type="text" class="form-control" id="inputPeriod" name="period" placeholder="工作期間" value={{.work.Period}}>
                </div>
                <div class="form-group">
                    <label for="inputLogo">LOGO</label>
                    <input type="text" class="form-control" id="inputLogo" name="logo" placeholder="logo" value={{.work.Logo}}>
                </div>
                <div class="form-group">
                    <label for="inputPosition">職稱</label>
                    <input type="text" class="form-control" id="inputPosition" name="position" placeholder="職稱" value={{.work.Position}}>
                </div>
                <div class="form-group">
                    <label for="txtAreaContent">工作內容</label>
                    <textarea class="form-control" id="txtAreaContent" name="content" rows="3" placeholder="工作內容">{{.work.Content}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">{{.btnName}}</button>
            </form>
        </div>
    </body>
</html>