<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container" style="width:50%;margin-left: 10px">
        <form action="/create" method="POST">
            <div class="form-group" style="width:20%">
                <label for="inputCompany">公司</label>
                <input type="text" class="form-control" id="inputCompany" name="company" placeholder="公司名稱">
                </div>
                <div class="form-group" style="width:20%">
                <label for="inputPeriod">期間</label>
                <input type="text" class="form-control" id="inputPeriod" name="period" placeholder="工作期間">
            </div>
            <div class="form-group">
                <label for="inputLogo">LOGO</label>
                <input type="text" class="form-control" id="inputLogo" name="logo" placeholder="logo">
            </div>
            <div class="form-group">
                <label for="inputPosition">職稱</label>
                <input type="text" class="form-control" id="inputPosition" name="position" placeholder="職稱">
            </div>
            <div class="form-group">
                <label for="txtAreaContent">工作內容</label>
                <textarea class="form-control" id="txtAreaContent" name="content" rows="3" placeholder="工作內容" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</body>