{{ template "header.html" .}}
            
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="card">
            <img class ="profile" src="image/profile.jpg" alt="Scott">
            <h1>Scott Tsao</h1>
            <p class="title">Software Engineer</p>
            <p>Yuan Ze University</p>
            <a href="https://github.com/o60816"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/scott-tsao-69691011b/"><i class="fa fa-linkedin"></i></a> 
            <a href="https://www.facebook.com/profile.php?id=100000318166014"><i class="fa fa-facebook"></i></a> 
            <p>活潑大方、勇於挑戰，努力充實自己</p>
        </div>
        <h2>工作經歷：</h2>
    </body>
</html>