{{ template "header.html" .}}
            
    <body class="container">
        <div class="row" style="margin-top:10px">
            <div class="col-xs-4">
                <div class="card">
                    <img class ="profile" src="image/profile.jpg" alt="Scott">
                    <h1>Scott Tsao</h1>
                    <p class="title">Software Engineer</p>
                    <p>Yuan Ze University</p>
                    <a href="https://github.com/o60816"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/scott-tsao-69691011b/"><i class="fa fa-linkedin"></i></a> 
                    <a href="https://www.facebook.com/profile.php?id=100000318166014"><i class="fa fa-facebook"></i></a> 
                    <p style="height:30px">活潑大方、勇於挑戰，努力充實自己</p>
                </div>
            </div>
            <div class="col-sm-6" stype={margin-top:10px}>
                <div class="row">
                    <h3>工作經歷：</h3>
                </div>
                {{template "work.html" .}}
            </div>
        </div>
    </body>
</html>