<!--menu.html-->
{{range .works}}
<div class="work">
  <div class="row">
    <div class="col-sm-6">
      <h3>
        <span id="company{{.Id}}" style="color: rgb(27, 131, 223); font-size: 24px;">{{.Company}}</span>
        <img width="60" height="60" style="float:right" data-no-retina="true" src={{.Logo}} alt="logo.png">
      </h3>
      <h3>
        <span style="font-size: 16px; color: inherit; letter-spacing: 0px;">{{.Period}}</span>
      </h3>
      <span style="font-size: 18px;">{{.Position}}</span>
      <br>
      <span style="font-size: 18px;">{{.Content}}</span>
      <br>
    </div>
    <div class="col-sm-6">
        {{range .ProjectList}}
        <span>專案：</span>
        <br>
        <p id="projectName{{.Id}}">{{.ProjectName}}</p>
        <p>技術：</p>
        <p>{{.Tech}}</p>
        {{end}}
    </div>
  </div>
</div>
{{end}}